<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Lords of the Abbys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/styles.css">
</head>

<body>
    <div id="root"></div>
    <article>
        <header>
            <h1>Guide</h1>
            <h4></h4>
        </header>
        <div class="navbar">
            <a href="../../index.html">Home</a>
            <a href="guide.html">Guide</a>
            <a href="wiki.html">Wiki</a>
            <a href="about.html">About</a>
        </div>
        <main>
        
        </main>
    </article>
    <footer>
    </footer>
</body>

</html>