<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Lords of the Abbys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <script defer src="../scripts/login.js"></script>
</head>

<body>
    <div id="root"></div>
    <article>
        <header>
            <h1>Log in</h1>
            <h4></h4>
        </header>
        <div class="navbar">
            <a href="../../index.html">Home</a>
            <a href="guide.html">Guide</a>
            <a href="wiki.html">Wiki</a>
            <a href="about.html">About</a>
        </div>
        <main>
            <div class="loginBox">
                <h4>Log in</h4>
                <form id="loginForm">
                    <div>
                        <label>Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <input type="submit" id="submitBtn" disabled>
                </form>
                <div id="errorMessages" style="color: red;"></div>
                <button id="registerBtn" type="button" onclick="window.location.href='register.html'">
                    I don't have an account
                </button>
            </div>
        </main>
    </article>
    <footer>
    </footer>
</body>

</html>