nav {
    display: flex;
    justify-content: center;
    background-color: #bb6351;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li { 
    padding: 10px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
  }

body {
    background-color: goldenrod;
    font-family: Arial, sans-serif;
  }

h1 {
    text-align: center;
    color: #bb6351;
  }

#registerBtn {
    text-align: center;
    color: black;
    background-color: #bb6351;
  }

#loginBtn {
    text-align: center;
    color: black;
    background-color: transparent; 
  }