  nav {
    display: flex;
    justify-content: right;
    background-color: #bb6351;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li { 
    float: left;
    padding: 20px;
  }
  
  nav a {
    display: block;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
  }

  .home nav li a:hover {
    background-color: #904b3e;
  }

  /* .guide nav {
    display: flex;
    justify-content: right;
    background-color: #c7ae76;
  }
  .guide nav li a:hover {
    background-color: #c7ae76;
  } */